<style>
    textarea {
        width: 400px;
        height: 200px;
    }
</style>


<p style="font-family: monospace"></p>
<div class=" background div monospace container">
    
    <table class="">

        <tr>
                <h1>{{appunto.titolo}}</h1>
                
        </tr>
        <tr>

                <h2>{{appunto.sottotitolo}}</h2>
        </tr>
        <tr>
             
                <p> {{appunto.testo}}</p>                      
        </tr>
        <div>
            <hr>
            <br>
            <table>
                <mat-chip-list #chipList aria-label="Tag">
                    <mat-chip *ngFor="let tag of appunto.listaTag" >
                        <div *ngIf="tag.name.length > 0">
                            {{tag.name}}
                        </div>
                    </mat-chip>
   
                  </mat-chip-list>
            </table>
        </div>
    </table>
    <br><br><br><br><br>

</div>