

<p style="font-family: monospace"></p>
<div class=" background div monospace container">
    
                <h1>{{appunto.titolo}}</h1>
                


                <h2>{{appunto.sottotitolo}}</h2>

                  <p class="text-center">{{appunto.testo}}</p>
                 

        <div>
            <hr>
            <br>
            <table>
                <mat-chip-list #chipList aria-label="Tag">
                    <mat-chip *ngFor="let tag of appunto.listaTag" >
                        <div *ngIf="tag.name.length > 0">
                            {{tag.name}}
                        </div>
                    </mat-chip>
   
                  </mat-chip-list>
            </table>
        </div>

    <br><br><br><br><br>

</div>