p{
    font-size: 30px;
  
    text-align: center;
    margin-top: 15px;

}

.div {
    text-align: center;
    margin-left: 7.8cm;
}

th{
    font-size: large;
}
.monospace{
    font-family: monospace;
}
