<style>
  th {
    background-color: rgb(236, 163, 230);
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    padding: 12px 20px;
  }

  tr {

    border-style: ridge;
    border-color: rgb(0, 0, 0);
  }

  div {
    position: relative;
    margin: 0 auto;
    text-align: left;
    clear: left;
    height: auto;
    z-index: 0;
  }

  td {
    text-align: center;
    border: 3px double black;


  }

  .center {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
  }

  button {
    background-color: rgb(236, 163, 230);

  }

  span {
    background-color: white;
    padding: 6px 160px;
  }

  .span-intro {
    background-color: white;
    padding: 6px 30px;
    border: 6px;
    border-style: ridge;
    border-color: black;
  }

  app-login-portable {
    position: absolute;

  }

  .prenotazione-finale {
    width: 80px;

  }

  .login-paragraph {

    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 25px 0;
  }
</style>
<span class="span-intro">tipologia: {{ tipo.descrizione }}</span>
<div class="col-6 m-5">
  <table class="table table-sm table-bordered">
    <tr>
      <th>Data Inizio</th>
      <td width="25%">
        <input class="form-control" type="date" [(ngModel)]="dataInizio" (input)="calcolaDataMinimafine($event)" min="{{dataMinimo}}" />
      </td>
      <th>Data Fine</th>
      <td width="25%">
        <input class="form-control" type="date" [(ngModel)]="dataFine"  min="{{dataMinimoFine}}" />
      </td>
      <td>
        <button (click)="ricercaStanzaPerTipologia()">Ricerca Stanza</button>
      </td>
    </tr>
  </table>
</div>
<br>
<br>
<span class="span-intro" *ngIf="msg!=''">{{msg}}</span>

  <span class="span-intro" *ngIf="prenotato==false&&conferma==false">Ci sono {{arrStanze.length}} stanze disponibili!
  </span>
  <button *ngIf="arrStanze.length>0 && prenotato==false && logged.logged && conferma==false"
    (click)="CreaPrenotazione()">Prenota Ora</button>
  <button *ngIf="arrStanze.length>0 && prenotato==false && logged.logged==false" (click)="accesso=true">Login</button>

  <app-login-portable *ngIf="accesso==true && logged.logged==false"></app-login-portable>
  <div class="d-flex justify-content-between">
    <div align="left " *ngIf="prenotato==true && statoO=='non fatto'">
      <span *ngIf="prenotato==true" class="span-intro">Chi Alloggerá? </span>
      <br>
      <br>
      <app-ospiti [nOspitiMax]="capienzafiglio" (newItemEvent)="addItemO($event)"></app-ospiti>
      <span class="span-intro" *ngIf=""></span>

    </div>
    <div align="right" *ngIf="prenotato==true && statoS=='non fatto'">
      <span *ngIf="prenotato==true" class="span-intro">Vuoi aggiungere dei servizi? </span>
      <br>
      <br>
      <app-servizi (newItemEvent)="addItemS($event)"></app-servizi>
      <span class="span-intro" *ngIf=""></span>

    </div>
  </div>
  <p class="login-paragraph">
    <button class="" *ngIf="statoO=='fatto' && statoS=='fatto'" (click)="AggiungiPrenotazione()"
      routerLink="/congratulazioni">Prenota!</button>
  </p>

