<style>
    p.login-paragraph {

        text-align: center;
        font-weight: bold;
        font-size: 25px;
        padding: 25px 0;
        text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }

    div {
        position: relative;
        margin: 0 auto;
        text-align: left;
        clear: left;
        height: auto;
        z-index: 0;
    }

    th {
        margin: 0px 0;
        background-color: rgb(236, 163, 230);
        margin-right: -30px;
        font-weight: lighter;
        font-size: 22px;
    }

    table {
        position: relative;
        height: auto;
        width: 400px;
    }

    .pulsante-destro {
        float: right;
    }

    mark {
        background-color: hotpink;
        font-weight: bold;
        width: fit-content;
    }
</style>

<div>
    <p class="login-paragraph">Login</p>
    <p class="login-paragraph">{{msg}}</p>
</div>
<div class="row">

    <div>

        <table>

            <tr>
                <th>Username</th>
                <td width="25%">
                    <input [(ngModel)]="newUtente.username">
                </td>
            </tr>
            <tr>
                <th>Password</th>
                <td width="25%">
                    <input type="password" [(ngModel)]="newUtente.password">
                </td>
            </tr>
            <tr>
                <td>
                    <button (click)="login()" id='accedi' class="btn btn-secondary btn-lg">Accedi</button>
                </td>
            </tr>
        </table>


    </div>
</div>
