<style>
    textarea {
        width: 400px;
        height: 200px;
    }
</style>


<p>Crea Nuovo Appunto</p>
<div>
    <table>

        <tr>
            <th >Titolo<br>
                <input  [(ngModel)]="appunto.titolo">
                
            </th>
        </tr>
        <tr>
            <th>Sottotitolo<br>
                <input [(ngModel)]="appunto.sottotitolo">
            </th>
        </tr>
        <tr>
            <th>Testo<br>             
                <textarea [(ngModel)]="appunto.testo"></textarea>              
            </th>           
        </tr>
        <div>
            <th>Tag</th>
            <table>
                <mat-chip-list #chipList aria-label="Tag">
                    <mat-chip *ngFor="let tag of appunto.listaTag" (removed)="rimuovi(tag)">
                        <div *ngIf="tag.name.length > 0">
                            {{tag.name}}
                        </div>
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                    <input placeholder="New tag..."
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="add($event)">
                           <button>Aggiungi tag</button>
                  </mat-chip-list>
            </table>
        </div>
    </table>
    <br><br><br><br><br>

    <button (click)="aggiungiAppunto()" class="btn btn-secondary btn-lg">Aggiungi Appunto</button>

</div>
