<style>
    textarea {
        width: 400px;
        height: 200px;
    }
</style>


<p style="font-family: monospace"></p>
<div class=" div monospace">
    
    <table>

        <tr>
            <th >Titolo<br>
                <input  [(ngModel)]="appunto.titolo">
                
            </th>
        </tr>
        <tr>
            <th>Sottotitolo<br>
                <input [(ngModel)]="appunto.sottotitolo">
            </th>
        </tr>
        <tr>
            <th>Testo<br>             
                <textarea [(ngModel)]="appunto.testo"></textarea>              
            </th>           
        </tr>
        <div>
            <th>Tag</th>
            <app-utility-tag [idAppunto]="appunto.id" (passoListaTag)="addItem($event)"></app-utility-tag>
        </div>
    </table>
    <br><br><br><br><br>

    <button (click)="aggiungiAppunto()" class="btn div btn-secondary btn-lg">Salva</button>

</div>
