<style>
    textarea {
        width: 400px;
        height: 200px;
    }
</style>


<span style="font-family: monospace" *ngFor="let x of str">{{x}}</span>
<span style="font-family: monospace" *ngFor="let x of strTag">{{x}}</span>
<div class=" div monospace">
    
    <table>

        <tr>
            <th >Titolo<br>
                <input  placeholder ="inserire titolo..."[(ngModel)]="appunto.titolo">
                
            </th>
        </tr>
        <tr>
            <th>Sottotitolo<br>
                <input placeholder ="inserire sottotitolo..."[(ngModel)]="appunto.sottotitolo">
            </th>
        </tr>
        <tr>
            <th>Testo<br>             
                <textarea placeholder ="inserire testo..."[(ngModel)]="appunto.testo"></textarea>              
            </th>           
        </tr>
        <div>
            <th>Tag</th>
            <app-utility-tag [listaTag]="appunto.listaTag" (passoListaTag)="addItem($event)"></app-utility-tag>
        </div>
    </table>
    <br><br><br><br><br>
    <button (click)="aggiungiAppunto()" class="btn div btn-secondary btn-lg">Salva</button>

</div>
