<div class="container ">
  <header class="jumbotron">
    <h1 class="display-4">{{ content }}</h1>
    <p class="lead">Pagina dove gli utenti insersicono i loro Appunti -User</p>
  </header>
<div class="centered par font title">
<p class="par"></p>


<table class="table table-striped ">
     <table *ngFor="let x of appunti">
      <tr>
        <th>Titolo</th>
        <th>Sottotitolo</th>
        <th>Link al Testo</th>
        <th>Utente_Creazione</th>
        
        <th>Data Creazione</th>
        <th>Data Ultima Modifica</th>
        <th>Utente_Modifica</th>
      </tr>
        <td>
          {{x.titolo}}
        </td>
        <td>
          {{x.sottotitolo}}
        </td>
        <td>
          {{x.testo}}
        </td>
        <td>
          {{x.user.username}}
        </td>
     </table>
</table>

  <button (click)="aggiungiAppunto()" routerLink="/appunti" class="fill btn-success">Crea Appunto</button>
</div>