.centered{
    text-align: center;
}

.par{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100vh;
}

.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h1{
    font-size: large;
    font-weight: bold;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #ffffff;
    width: 100%;
    border-color: black;
    border-style: groove;
    box-shadow: black 1px;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
  tr {
    background-color: #60d2ff44;
  }
  

  .bg{
    background-image: url(https://wallpaperaccess.com/full/1576401.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  button, table{
    font-family: monospace;
  }

  .button:hover{
   background-color: rgb(96, 183, 241);
  }

  .wrap{
    width: 5cm;
    word-break: break-word;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid #ffffff00;
  }