<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
<div class="centered par font title">
<p class="par"></p>


<table>
     <table *ngFor="let x of appunti">
      <tr>
        <th>Titolo</th>
        <th>Sottotitolo</th>
        <th>Link al Testo</th>
        <th>Utente_Creazione</th>
        <th>Data Creazione</th>
        <th>Utente_Modifica</th>
        <th>Data Ultima Modifica</th>
      </tr>
        <td>
          {{x.titolo}}
        </td>
        <td>
          {{x.sottotitolo}}
        </td>
        <td>
          {{x.testo}}
        </td>
        <td>
          {{x.user.username}}
        </td>
        <td>
          {{x.dataCreazione}}
        </td>
        <td>
          <button (click)="cancellaAppunti(x.id)"  class="btn btn-secondary btn-lg">Cancella</button>
        </td>
        <td>
          <button (click)="modifica(x.id)"  class="btn btn-secondary btn-lg">Modifica</button>
        </td>
     </table>
</table>

  <button (click)="aggiungiAppunto()" routerLink="/appunti" class="btn btn-secondary btn-lg">Crea Appunto</button>
</div>