<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home"><mat-icon>home</mat-icon> </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a  style="display: flex; align-items: center;" href="/admin" class="nav-link button" id="admin" routerLink="admin">	<mat-icon class="">star</mat-icon>Admin Board</a>
      </li>
      <li class="nav-item ">
        <a  style="display: flex; align-items: center;" href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user"><mat-icon>library_books</mat-icon>  I miei Appunti</a>
      </li>
    </ul>

    <iframe src="https://free.timeanddate.com/clock/i8haapak/n157/tlit6/fn8/fcfff/tct/pct/ftb/tt0/td2/th1/ts1/tb4" frameborder="0" width="229" height="34" allowtransparency="true"></iframe>






    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a style="display: flex; align-items: center;"  href="/register" class="nav-link" routerLink="register"> <mat-icon>alternate_email</mat-icon> Registrazione</a>
      </li>
      <li class="nav-item">
        <a style="display: flex; align-items: center;" href="/login" class="nav-link" routerLink="login">	<mat-icon>fingerprint</mat-icon>Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a  style="display: flex; align-items: center;" href="/profile" class="nav-link" routerLink="profile">		<mat-icon >face</mat-icon> {{ username }}</a>
      </li>
      <li class="nav-item">
        <a style="display: flex; align-items: center;" href class="nav-link" (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
