<style>
  th {
    background-color:  rgb(236, 163, 230);
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    padding: 12px 20px;
  }

  tr {

    border-style: ridge;
    border-color: rgb(0, 0, 0);
  }

  div {
    position: relative;
    margin: 0 auto;
    text-align: left;
    clear: left;
    height: auto;
    z-index: 0;
  }

  td {
    text-align: center;
    border: 3px double black;


  }
  button{
    background-color:  rgb(236, 163, 230);
  }
  span {
    background-color: white;
    padding: 6px 160px;
  }
  .span-intro{
    background-color: white;
    padding: 6px 30px;
    border: 6px;
    border-style: ridge;
    border-color: black;
  }
  .p-error{
    background-color: white;
    text-align: left;
    white-space: pre-line;
  }
  #OspitiComponent{
    background: rgb(236, 163, 230);
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    width: auto;
    height: auto;
    box-shadow: 2px 0 #fff, -2px 0 #fff, 0 10px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }
</style>
<div class="fluid-container" id="OspitiComponent">
  <div *ngIf="nOspitiMax-Ospiti.length!=0">
      Ospiti da Aggiungere
      <input  type="number" value="1" min="1" [max]="nOspitiMax-Ospiti.length" [(ngModel)]="nOspiti">
      <button (click)="confermaUtenti()">Conferma</button>
    </div>
    <br>
    <br>
    <br>
    <div name="form" *ngFor="let x of Ospiti">
      <table>
        <tr>
          <td>Nome</td>
          <td><input type="text" [(ngModel)]="x.nome"></td>
        </tr>
        <tr>
          <td>Cognome</td>
          <td><input type="text" [(ngModel)]="x.cognome"></td>
        </tr>
        <tr>
          <td>Documento</td>
          <td><input type="text" [(ngModel)]="x.documento"></td>
        </tr>
        <tr>
          <td>Indirizzo</td>
          <td><input type="text" [(ngModel)]="x.indirizzo"></td>
        </tr>
      </table>
      <p class="p-error">{{strx[Ospiti.indexOf(x)]}}</p>
      <br>
      <button *ngIf="Ospiti.length>1" (click)="CancellaOspite(x)">Rimuovi Ospite</button>
    </div>
    <br>

    <button *ngIf="Ospiti.length>=1" (click)="ConfermaOspiti()">Conferma Ospiti!</button>
</div>
