.wrap{
    width: 10cm;
    word-wrap: break-word;
    background-color: rgba(255, 0, 0, 0);

    border: 1px solid #ffffff00;
}

body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148817571.jpg?w=2000);
  background-image: opacity 0.5;
    /* Full height */
    height: 100%; 
    height: 800px;
    width:1920px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  *{
    font-family: monospace;
    font-size: large;
  }

  h1{
    font-size:50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }