<div class="container background bg"  *ngIf="currentUser; else loggedOut">
  <br><br>
 
    <h3>
      
      <h1 class="display-4" style="text-align:center">{{ currentUser.username }}</h1>
    </h3>
  
  <br>
  <p class="wrap "  >
    <strong class="par ">Token:</strong>
    {{ currentUser.accessToken}}
  </p>
  <p  class="wrap"  >
    <strong class="par ">RefreshToken:</strong><br>
    {{ currentUser.refreshToken}}
  </p>
  <p  class="wrap" >
    <strong class="par">Email:</strong>
    {{ currentUser.email }}
  </p>
 
  <br>
    <p class="wrap par" style="color: red;" *ngFor="let role of currentUser.roles">
    Role:  {{ role }}
    </p>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
