<div class="container background bg" *ngIf="currentUser; else loggedOut">
  
  <header class="banner">
    <h3>
      
      <h1 class="display-4">{{ currentUser.username }}</h1>
    </h3>
  </header>
  <br>
  <p class="wrap">
    <strong class="par ">Token:</strong>
    {{ currentUser.accessToken}}
  </p>
  <p class="wrap">
    <strong class="par ">RefreshToken:</strong>
    {{ currentUser.refreshToken}}
  </p>
  <p>
    <strong class="par">Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong class="par">Roles:</strong>
  <ul>
    <li  style="color: red;" *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
