.wrap{
    width: 28cm;
    word-wrap: break-word;
    background-color: rgba(255, 0, 0, 0);

    border: 1px solid #ffffff00;
}


.banner{
    background-color: rgb(202, 235, 255);
    background-size: cover;
    padding: 2cm;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px;
    outline: 0;
    border: 1px solid black;
    border-radius:  0px 0px 25px 25px;
    
    background-color: rgba(132, 27, 218, 0.548);
   
    text-transform: uppercase;
    color: rgb(203, 126, 255);
    text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0,0,0),
    -1px 1px 0 rgb(0,0,0),
    1px 1px 0 rgb(0,0,0);  
    /*https://static.thenounproject.com/png/2822493-200.png       img bllxma*/
    
}
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/30a6e7b3-1781-49fa-a2f0-b20a042f3742/dccoa3t-8932bc86-d8e3-4f58-82e3-ba4c30975b58.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMwYTZlN2IzLTE3ODEtNDlmYS1hMmYwLWIyMGEwNDJmMzc0MlwvZGNjb2EzdC04OTMyYmM4Ni1kOGUzLTRmNTgtODJlMy1iYTRjMzA5NzViNTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xcV54U0If6ZS9q5g5v4_tD3e5-Ecvy3xfPWYuv-Hoqs);
  background-image: opacity 0.5;
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }