<div class="container ">
  <header class="jumbotron">
    <img src="https://seeklogo.com/images/G/globe-logo-7DED53A9AA-seeklogo.com.png" class="rounded float-right" alt="..." width="150"  height="150" >
    <h1 class="display-4">{{ content }}</h1>
    <p class="lead">Homepage </p>
  </header>

<div>
 <!-- <button class="fill" type="button">test </button> -->
</div>

<div>
<table class="table table-striped">
     <table *ngFor="let x of lisAppPub">
      <tr>
        <th>Titolo</th>
        <th>Sottotitolo</th>
        <th>Link al Testo</th>
        <th>Utente_Creazione</th>
        <th>Data Creazione</th>
        <th>Tag</th>
      </tr>
        <td>
          {{x.titolo}}
        </td>
        <td>
          {{x.sottotitolo}}
        </td>
        <td>
          {{x.testo}}
        </td>
        <td>
          {{x.user.username}}
        </td>
        <td>
          {{x.dataCreazione}}
        </td>
        <td *ngFor="let y of x.listaTag">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" selected>
                {{y.name}}
            </mat-chip>
          </mat-chip-list>
     </table>
</table>
</div>


