<style>
  table {
    width: 100%;
  }
  .first {
    width: 50%;
  }
  .ellipsis {
    position: relative;
  }
  .ellipsis:before {
    content: '&nbsp;';
    visibility: hidden;
  }
  .ellipsis span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .button3 {
  background-color: #008CBA;
  color: white;
  }
</style>

<div class="container ">
  <header class="banner">
    
    <h1 class="display-4">{{ content }}</h1>
   
    <table class="table ">
      <table *ngFor="let x of lisAppPub">
       <tr>
         <th>Titolo</th>
         <th>Sottotitolo</th>
         <th>Link al Testo</th>
         <th>Utente_Creazione</th>
         <th>Data Creazione</th>
         <th>Tag</th>
       </tr>
         <td class="td">
           {{x.titolo}}
         </td>
         <td>
           {{x.sottotitolo}}
         </td>
         <td class="ellipsis">
          <span>{{x.testo}}</span>
        </td>
         <td>
           {{x.user.username}}
         </td>
         <td>
           {{x.dataCreazione}}
         </td>
         <td *ngFor="let y of x.listaTag">
           <mat-chip-list aria-label="Fish selection">
             <mat-chip style="background-color: black;" selected>
                 {{y.name}}
             </mat-chip>
           </mat-chip-list>
      </table>
 </table>
  </header>

<div>
 <!-- <button class="fill" type="button">test </button> -->
</div>


</div>


