<style>
  th {
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  tr {

    border-style: ridge;
    border-color: rgb(0, 0, 0);
    font-weight: bolder;

  }

  div {
    position: relative;
    margin: 0 auto;
    text-align: left;
    clear: left;
    height: auto;
    z-index: 0;
    justify-content: center;
  }

  td {
    text-align: center;
    border: 3px double black;
    font-weight: bold;
    background-color: rgb(244, 205, 241);
    font-size: large;

  }

  .variabili-tipologia {

    text-align: center;
    border: 3px double black;
    font-weight: light;
    padding: 90px;
  }

  button {
    background-color: rgb(236, 163, 230);
    padding: 50px;
    text-align: center;
    text-size-adjust: inherit;
  }

  img {
    width: 900px;
    height: 600px;

  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  p {
    text-align: center;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 40px;
    font-size: 30px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }

  .center-image {
    text-align: center;
    display: block;
  }
</style>

<div>
  <p>Hotel che virgola spacca</p>
  <img src="https://64.media.tumblr.com/2cc2762ae25d5a2855cfccf5b290fa9c/bd79bcf77341ef97-6a/s1280x1920/9ac68313616ee9ae5f5098d56f1443b94a34f463.png" alt="Sky" style="display: block; margin-right: auto; margin-left: auto;" >

</div>
